*.ipynb_checkpoints
*/data
*data
/大规模语言模型：从理论到实践/6-RL/trlx
/大规模语言模型：从理论到实践/6-RL/rm_checkpoint
.idea/
*__pycache__
*.png
/HuggingFace扩散模型/saved_ddpm_model
/HuggingFace扩散模型/plan_1/saved_ddpm_model
/HuggingFace扩散模型/plan_2/saved_ddpm_model
*.pth
